@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --console-bg: var(--dark-200);
  --line-bg: var(--dark-300);
  --key-clr: deeppink;
  --sep-clr: var(--bright-300);
  --val-clr: aqua;
  --var-clr: chartreuse;

  --cfg-font: "Source Code Pro", monospace;
}

.code-input-container {
  position: relative;
  display: flex;
  height: 14rem;
  width: 70ch;
  margin-block: 1rem;

  border: 1px solid var(--line-clr);
  border-radius: 0.5rem;
  background-color: var(--console-bg);

  overflow: hidden;

  &:focus-within {
    box-shadow: 0 0 10px 2px var(--blue-100-50);
  }

  &.invalid {
    box-shadow: 0 0 3px var(--warning-clr) !important;
    border-color: var(--warning-clr) !important;
  }
}

.line-numbers {
  min-width: 2rem;
  padding: 0.5rem 0.4rem 0.5rem 0.5rem;
  border-right: 1px solid var(--bright-500);
  background-color: var(--line-bg);

  font-family: var(--cfg-font);
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--dark-100);

  text-align: right;
  overflow: hidden;
  user-select: none;
}

.line-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1.5em;
}

.code-textarea {
  position: relative;
  flex: 1;
  z-index: 1;
  padding: 0.5rem;

  background: transparent;
  border: none;
  outline: none;
  resize: none;

  color: var(--bright-400);
  font-family: var(--cfg-font);
  font-size: 0.875rem;
  line-height: 1.5;

  white-space: pre;
  overflow-x: auto;
  overflow-y: auto;
  overflow-wrap: normal;

  /* Custom scrollbar styling */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--line-clr);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--text-clr-muted);
  }

  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--line-clr) transparent;
}

.syntax-overlay {
  position: absolute;
  top: 0;
  left: 2rem;
  right: 0;
  padding: 0.5rem;
  z-index: 9999;

  color: rgba(0, 0, 0, 0);
  font-family: var(--cfg-font);
  font-size: 0.878rem;
  line-height: 1.5;

  white-space: pre;
  overflow: hidden;
  pointer-events: none;
}

.config-key {
  color: var(--key-clr); /* Blue for keys */
  font-weight: bold;
}

.config-separator {
  color: var(--sep-clr); /* Gray for separators */
  font-weight: bold;
}

.config-value {
  color: var(--val-clr); /* Green for values */
  font-weight: bold;
}

.config-variable {
  color: var(--var-clr);
  font-weight: bold;
}

.config-comment {
  color: var(--text-clr);
  font-weight: bold;
}

label:has(+ .code-input-container) {
  display: block;
  padding: 0 0.4rem;
  margin-bottom: 0.25rem;

  color: var(--text-clr);
}
