#sidebar {
  height: 100vh;
  width: 300px;
  padding: 5px 1em;

  background-color: var(--base-clr);
  box-shadow: 2px 0 1em var(--bg-clr-secondary);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;

  transition: 300ms ease-in-out;

  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.closed {
  padding: 5px;
  width: 60px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  .logo {
    font-size: 1.3em;
    font-weight: bold;
    transform: translateY(-2px);
  }
}

#toggle-btn {
  margin-left: auto;

  height: 50px;
  aspect-ratio: 1/1;

  color: var(--text-clr);
  background: none;

  border: none;
  border-radius: 0.5em;

  cursor: pointer;

  > svg {
    transform: translateY(2px);
  }
}

#toggle-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar > ul > li:last-child {
  position: absolute;

  bottom: 9px;
  left: 9px;

  > button {
    height: 41px;
    aspect-ratio: 1/1;

    border: none;
    border-radius: 100%;

    > svg {
      transform: translateY(3px);
    }
  }
}

:root:not([data-theme="dark"]) #sidebar > ul > li:last-child > button {
  background-color: var(--text-clr-200);
}

:root[data-theme="dark"] #sidebar > ul > li:last-child > button {
  background-color: var(--accent-clr);
}

#sidebar ul li.active > a {
  color: var(--accent-clr);
}

#sidebar ul li button.active {
  color: var(--accent-clr);
}

/* This sets all the icon sizes */

#sidebar svg {
  width: 30px;
  height: 30px;

  flex-shrink: 0;
}

/* These are the link icons */
#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 10px;
  text-decoration: none;
  color: var(--text-clr);

  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.dropdown-btn svg {
  transition: 300ms ease-in-out;

  &:last-of-type {
    height: 20px !important;
  }
}

#sidebar .sub-menu a {
  padding-left: 2em;
}
