:root {
	--bg-clr: #22252b;
	--bg-clr-secondary: #1b1e20;

	--text-clr: #caced1;
	--text-clr-secondary: #afb2b4;

	--line-clr: #141618;
	--hover-clr: #2e333d;
	--accent-clr: #76affa;
	--accent-clr-secondary: #4b98fc;
	--accent-clr-shadow: #295186;

	--success-clr: #4ec572;
	--warning-clr: #cf4f4f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-family:
		Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow',
		sans-serif-condensed, sans-serif;
	font-weight: normal;
	line-height: 1.5rem;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
	background-color: var(--bg-clr-secondary);
	color: var(--text-clr);

	display: grid;
	grid-template-columns: auto 1fr;
}

h1 {
	font-size: 2rem;
	color: var(--text-clr);
	text-align: center;
	margin: 0 auto;
	padding-bottom: 2rem;
}

main {
	padding: min(30px, 7%);
	background-color: var(--bg-clr);
}

main p {
	color: var(--text-clr-secondary);
	margin-top: 5px;
	margin-bottom: 15px;
}

.container {
	display: grid;
	transition: 300ms ease-in-out;
	z-index: 99;

	background-color: var(--bg-clr-secondary);
	box-shadow: 0 2px 1em var(--bg-clr-secondary);

	border: 1px solid var(--line-clr);
	border-radius: 1em;

	margin-bottom: 1.2rem;
	padding: min(3em, 15%);

	h2,
	p {
		margin-top: 1em;
	}

	p {
		max-width: 80ch;
	}

	&:has(> p) {
		padding-inline: calc(50% - 40ch);
	}
}

.container.hidden {
	margin-top: -100vh;
}

.sliding-container {
	z-index: 1;
}

.btn {
	width: fit-content;
	padding: 0.7rem 2rem;
	margin: 1rem 0.5rem;
	cursor: pointer;

	border: none;
	border-radius: 1rem;

	font-size: 1em;

	color: var(--text-clr);
	background-color: var(--bg-clr);
	box-shadow: 0 0 7px var(--line-clr);

	&:hover {
		background-color: var(--hover-clr);
		box-shadow: 0 0 10px var(--line-clr);
	}
}

.btn-primary {
	color: var(--bg-clr);
	background-color: var(--accent-clr-secondary);

	&:hover {
		background-color: var(--accent-clr);
	}
}

table {
	margin: 0 auto;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0px;
}

th,
td {
	padding: 0.5rem;
}

td {
	text-align: center;
}

th:first-child {
	border-bottom: 1px solid;
	border-image: linear-gradient(270deg, var(--text-clr-secondary) 60%, var(--bg-clr-secondary)) 1;
}

th:not(:first-child):not(:last-child) {
	border-bottom: 1px solid var(--text-clr-secondary);
}

th:last-child {
	border-bottom: 1px solid;
	border-image: linear-gradient(90deg, var(--text-clr-secondary) 60%, var(--bg-clr-secondary)) 1;

	border-left: 0px;
}

tbody > tr:nth-child(even) > td:first-child {
	background-image: linear-gradient(270deg, var(--bg-clr) 60%, var(--bg-clr-secondary));
}

tbody > tr:nth-child(even) > td:not(:first-child):not(:last-child) {
	background-color: var(--bg-clr);
}

tbody > tr:nth-child(even) > td:last-child {
	background-image: linear-gradient(90deg, var(--bg-clr) 60%, var(--bg-clr-secondary));
}
